
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.display-flex {
    display: flex;
    flex-direction: row;
}
.text-primary{
    color: #FF900E;
}

/* dark-02 */
.text-gray{
    color: #424242;
}
/* dark-03 */
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: #FFFFFF;
    font-weight: 600;
    padding: 20px 25px;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;

}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;
}

/* header style */


/* navber relete style */
.navber{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none; 
    margin-right: 20px ; 
}
.nav-links{
    text-decoration: none;
    font-weight: 500;
}

.navber, .bannar{
    max-width: 1440px;
    margin: 0 auto;
}
/* bannar related style */
.bannar-container{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.bannar-title{
    font-size: 4rem;
    font-weight:700;
}
.bannar-image{
    width: 100%;
}
/* team and features related style */
.teams{
    align-items: center;
}

.image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    
}

.our-features{
    margin-left: 73px;
    max-width: 530px;
}
.feature-title{
    font-size: 2.81rem;
    font-weight: 700;
}
#quick-list{
    font-weight: 500;
}
/* some fact related style */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.fact-number{
    font-size: 2.81rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
    font-size: 1rem;
}
.section-title{
    font-size: 2.81rem;
}
/* sponcsor related style */
.sponsors-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsors-compnies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsors-compnies img{
    filter: grayscale(100%);
}

/* responsive mediam quary */
@media screen and (max-width:576px) {
    .navber,
    .bannar,
    .teams{
        flex-direction: column;
    }
    .image-container,
    .facts-container,
    .sponsors-compnies{
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .sponsors-compnies{
        justify-items: center;
        gap: 50px;
    }
    .our-features{
        margin-left: 20px;
    }
    .display-flex {
    display: flex;
    flex-direction: column;
    }
}
/* mediam size device */
 @media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
    .image-container img{
        width: 85%;
    }
    .image-container{
        gap: 0;
    }
    .navber, .bannar{
        width: 90%;
    }
        .display-flex {
    display: flex;
    flex-direction: column;
    }
    .sponsors-compnies,
    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
    
 }